#lichess-arc {
  padding: 5px;
  border-radius: 2px;
  background-color: #759900;
  color: #fff;
  cursor: pointer;
}

#lichess-arc-sub {
  padding: 5px;
  border-radius: 2px;
  background-color: #6441A4;
  color: #fff;
  cursor: pointer;
}